@model YemeklerKategori


<form asp-controller="YemeklerKategori" asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="YemekId" class="form-label">Yemek Id</label>
        <input type="text" class="form-control" asp-for="YemekId">
    </div>

    <div class="mb-3">
        <label asp-for="KategoriId" class="form-label">Kategori Id</label>
        <input type="text" class="form-control" asp-for="KategoriId">
    </div>

    



    <button type="submit" class="btn btn-primary">Kaydet</button>

    <a class="btn btn-info" asp-action="Index" asp-controller="YemeklerKategori">Listeye Geri Dön</a>

</form>