    @model YemeklerKategori


<form asp-controller="YemeklerKategori" asp-action="Update" method="post">

    <div class="mb-3">
        <label asp-for="YemekId" class="form-label">Yemek Id</label>
        <input type="text" class="form-control" asp-for="YemekId">
    </div>

    <div class="mb-3">
        <label asp-for="KategoriId" class="form-label">Kategori Id</label>
        <input type="text" class="form-control" asp-for="KategoriId">
    </div>

    




    <input type="submit" class="btn btn-primary" value="Kaydet" />
    <a class="btn btn-info" asp-action="Index" asp-controller="YemeklerKategori">Listeye Geri Dön</a>

</form>