@{
    ViewData["Title"] = "HotCat";
}
<body style="background-image: url('img\images.jpg');background-size: 100% 100%;">
    <div class="text-center">
        <h1 class="display-4" style="color:#f00;"><b>Welcome</b></h1>
        <h4 class="display-4"><b>Dear @Context.User.Identity.Name</b></h4>

    </div>
</body>