@{
    ViewData["Title"] = "Home Page";
}


<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 "> <img src="~/img/images 2.jpg" /></div>
            <div class="col-xs-12 col-md-6 "> <img src="~/img/images.jpg" /></div>
            <div class="col-xs-12 col-md-6 "> <img src="~/img/indir.jpg" /></div>
            <div class="col-xs-12 col-md-6 "><img src="~/img/instagram-yemek-fotograflari (1).jpg" /> </div>
            
            <div class="col-xs-12 col-md-6 "> <img src="~/img/midpoint-hamburger.jpg" /></div>
            <div class="col-xs-12 col-md-6 "> <img src="~/img/yemek-fotografi-cekimi.jpg" /></div>
            <div class="col-xs-12 col-md-3 col-md-offset-1">
                <div class="about-text">
                    <div class="section-title">
                        <h2>Our Story</h2>
                    </div>
                    <p>Lezzet Durağı</p>
                    <p>Tercihler Hayatını Belirler</p>
                </div>
            </div>
        </div>
    </div>
</div>

